.modal {
  height: 718px;
  width: 720px;
  border-radius: 40px;
  background-color: #1C1C21;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.image {
  width: 120px;
  height: 120px;
  background-image: url(../../images/done.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

/* .cross {
  position: absolute;
  top: 63px;
  right: 43px;
  z-index: 2;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
} */
