.ingredients {
  height: 912px;
  width: 600px;
  padding-left: 360px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: start;
}

.stuff {
  display: grid;
  grid-template-columns: 272px 272px;
  width: 600px;
  grid-gap: 40px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 208px;
  width: 272px;
}

.price {
  display: flex;
  gap: 9px;
}

/* .scroll {
  overflow-y: scroll;
  height: 664px;
  scrollbar-width: thin;
  scrollbar-color: hsl(0 0% 50%);
} */
