.ingredients {
  height: 912px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: start;
}

.tabs {
  display: flex;
  margin-bottom: 40px;
}

.stuff {
  display: grid;
  grid-template-columns: 272px 272px;
  width: 600px;
  grid-gap: 40px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 208px;
  width: 272px;
}

.price {
  display: flex;
  gap: 9px;
}

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #8585AD #2F2F37;
  scrollbar-width: 8px;
}

.scroll::-webkit-scrollbar {
  width: 8px;
  height: 492px;
  background-color: #2F2F37;
}

.scroll::-webkit-scrollbar-track {
  background: #2F2F37;
  height: 664px;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: #8585AD;
  height: 492px;
}
